<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         cacheResult="false"
         bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <const name="MYSQL_DSN" value="mysql:host=127.0.0.1;port=3306;dbname=dbunit"/>
        <const name="MYSQL_USER" value="root"/>
        <const name="MYSQL_PASS" value="root"/>
    </php>
</phpunit>